.container {
    color: black;
    /* Sets the text color to white for all text inside the container */
    font-family: 'Arial', sans-serif;
    /* Optional: Sets a default font for the container */
}

.pagetitle h1{
    text-align: Center;
    margin-top: 5px;
}


.text-container {
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    align-items: center; /* Centers the children horizontally */
    gap: 20px;
}

.technologies {
    border: solid black 1px;
    width: 650px
}

.technologies h2 {
    text-align: center;
}

.technologies ul {
    text-align: center;

}

.future-goals {
    border: solid black 1px;
    width: 650px
}

.future-goals h2 {
    text-align: center;

}

.future-goals ul {
    text-align: center;

}


/* Additional styling for the list */
.text-container ul {
    list-style-type: none;
    padding: 0;
}

.text-container li {
    margin: 10px 0;
}